header {
    min-width: 960px;
}

.tcr-logo {
    height: 30px;
}

.tcr-avatar {
    height: 30px;
}

.tcr-mylib-header,
.tcr-mylib-header:hover {
    color: white;
}

main {
    width: 1024px;
    min-width: 960px;
}

main>div {
    width: 70%;
}

.tcr-subtitle {
    font-size: small;
}

.tcr-player .dplayer-comment-setting-type label {
    width: 33%;
}

.tcr-player .dplayer-comment-setting-type label span {
    width: 100% !important;
}

.tcr-player .dplayer-danmaku-item {
    font-size: 3vh;
}

.tcr-comments .vinput {
    color: black !important;
}

main>aside {
    width: 30%;
}

.tcr-owner-avatar {
    height: 60px;
    width: 60px;
}

.tcr-danmaku-list small {
    font-size: 13px;
}

.tcr-history {
    min-height: 75vh;
}

.tcr-history .card {
    height: 120px;
}

.tcr-history .card img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}