.tcr-logo {
    height: 30px;
}

main {
    width: 1280px;
    max-width: 95%;
}

main > div {
    width: 70%;
}

main > aside {
    width: 30%;
}

.tcr-subtitle {
    font-size: small;
}

.tcr-player .dplayer-comment-setting-type label {
    width: 33%;
}

.tcr-player .dplayer-comment-setting-type label span {
    width: 100% !important;
}

.tcr-player .dplayer-danmaku-item {
    font-size: 3vh;
}

.tcr-history {
    min-height: 75vh;
}

.tcr-history .card {
    height: 120px;
}

.tcr-history .card img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}